<% @flights.each do |flight| %>
  <div id="flight-<%= flight.id %>">
    <h1><%= flight.number %></h1>
    <h2><%= flight.departure_city %></h2>
    <h2><%= flight.arrival_city %></h2>
  </div>
<% end %>
