<% @flights.each do |flight| %>
  <div id="flight-<%= flight.id %>">
    <h1>Number: <%= flight.number %></h1>
    <h2>Departure City: <%= flight.departure_city %></h2>
    <h2>Arrival City: <%= flight.arrival_city %></h2>
  </div>
<% end %>
